.home {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}

.content {
  animation: fadein 3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content p {
  margin: 1em;
  font-size: 1.5em;
}

.author {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


