* {
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-weight: 800;
}

a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  display: inline;
  font-size: 2em;
}

.header {
  line-height: 2em;
}

@media only screen and (max-width: 800px) {
  #categories li h1,
  .text,
  .tile-container
  {
    font-size: 0.5em;
  }
  .content p, a {
    font-size: 1em;
  }
}
